In [29]:
import numpy as np
import pandas as pd

from statsmodels.tsa.stattools import coint

In [ ]:
from typing import List

In [26]:
def join_pair(security_1: pd.DataFrame, security_2: pd.DataFrame ) -> pd.DataFrame:
    """
    Склеивает загруженные датафреймы фьючерсов по полю 'close'.
    Возвращает DataFrame, где столбцы — это символы, а строки — общие индексы (timestamp), без NaN.
    """
    data = pd.merge(
        security_1['close'], 
        security_2['close'], 
        left_index=True, 
        right_index=True, 
        suffixes=("_1", "_2")
    )
    return data

In [31]:
df1 = pd.read_csv("../data/SRM5.csv", index_col="time")
df2 = pd.read_csv("../data/SPM5.csv", index_col="time")

In [19]:
df1.head()

              close     open     high      low  volume
time
1741683600  33719.0  33751.0  33786.0  33618.0     634
1741687200  33803.0  33735.0  33840.0  33735.0     376
1741690800  33663.0  33771.0  33822.0  33648.0     640
1741694400  33723.0  33650.0  33738.0  33624.0    1121
1741698000  33822.0  33728.0  33840.0  33719.0     491

In [32]:
merged_df = join_pair(df1, df2)

In [33]:
display(merged_df.head())

            close_1  close_2
time
1741683600  33719.0  33438.0
1741687200  33803.0  33514.0
1741690800  33663.0  33470.0
1741694400  33723.0  33458.0
1741698000  33822.0  33559.0

In [34]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 941 entries, 1741683600 to 1749459600
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   close_1  941 non-null    float64
 1   close_2  941 non-null    float64
dtypes: float64(2)
memory usage: 22.1 KB

In [39]:
type(merged_df['close_1'])

pandas.core.series.Series

In [35]:
# Perform cointegration test
score, p_value, _ = coint(merged_df['close_1'], merged_df['close_2'])

print(f'Cointegration Test Score: {score}')
print(f'P-value: {p_value}')

Cointegration Test Score: -5.803442891446174
P-value: 4.257649142923966e-06

In [ ]:
def join_all_securities(security_1: pd.DataFrame, security_2: pd.DataFrame ) -> pd.DataFrame:
    """
    Склеивает загруженные датафреймы фьючерсов по полю 'close'.
    Возвращает DataFrame, где столбцы — это символы, а строки — общие индексы (timestamp), без NaN.
    """
    data = pd.merge(
        security_1['close'], 
        security_2['close'], 
        left_index=True, 
        right_index=True, 
        suffixes=("_1", "_2")
    )
    return data

In [49]:
futures = [
    "GKM5", # Обыкновенные акции ПАО «ГМК «Норильский никель»
    "GZM5", # Газпром обыкновенные
    "CHM5", # обыкновенные акции ПАО «Северсталь»
    "TTM5", # Татнефть
    "TNM5", # Транснефть
    "RNM5", # Роснефть
    "LKM5", # Лукойл
    "SRM5", # обыкновенные акции ПАО Сбербанк
    "SPM5", # привилег. акции ПАО Сбербанк
    "VBM5", # ВТБ
    "GDM5", # золото
    "SVM5", # серебро
]

In [41]:
from itertools import combinations

In [50]:
list(combinations(futures, 2))

[('GKM5', 'GZM5'), ('GKM5', 'CHM5'), ('GZM5', 'CHM5')]